.menu {
    background-color: #fffbef;
    box-shadow: 5px 5px 10px rgba(0,0,0,.42);
    grid-area: header;
}

.header {
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    padding-top: 1%;
}

.drinks {
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.sobre {
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.bonsDrinks {
    color: #000000;
    text-decoration: none;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 35px;
    font-weight: normal;

}

.time{
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contato {
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}
