.rodape {
    background: #fffbef;
    grid-area: footer;
    height: 40px;
}
.textoRodape {
    text-align: center;
    color: #000000;
    padding: 3%;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}